@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Cinzel+Decorative&family=Open+Sans&display=swap%27');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
    background:url('backg.png') top center no-repeat;
    height: 100vh;
	background-size:cover;
}


div#area {
	width: 90%;
	height: 85vh;
	background: #F3F3F3;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 15px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
	display:flex;
	padding-right: 40px;
}


div#search_area {
	position: relative;
	width: 20%;
	height: 100%;
	background: #FFFFFF;
	display: flex;
	border-radius: 15px 0 0 15px;
	flex-direction: column;
	align-items: center;
	margin-right: 40px;
}


div#person_name {
    text-align: center;
    font-style: normal;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
	margin-top: 5%;
}


div#choice_icons {
    text-align: center;
    font-style: normal;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
    font-size: 25px;
	margin-top: 15%;
	letter-spacing: 0.2em;
	-webkit-text-stroke-width: 1px;
}


#player_title {
	color: darkorange;
	border: 1px #000000;
	font-family: 'Cinzel Decorative', cursive;
	-webkit-text-stroke-width: 1px;
	font-style: normal;
	font-weight: 200;
	font-size: 20px;
	line-height: 49px;
	text-align: center;
	letter-spacing: 0.1em;
}


.user{
    border-radius: 10px;
    width: 80px;
    height: 80px;
    position: relative;
	margin-top: 10%;
}


#aside {
    margin-top: 20px;
    width: calc(100% - 20% - 50px);
}


#topo {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
	margin-bottom: 20px;
}


#new_game {
	font-family: 'Cinzel', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #7F7F7F;
	background: none;
	border: none;
}


#games {
	font-family: 'Cinzel', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 0.2em;
	background: none;
	-webkit-text-stroke-width: 1px;
	text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


#classes {
	margin-top: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.item {
	border: 1px solid black;
	background: #FFFFFF;
	height: 230px;
	width: 230px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
}


.item img {
	display: block;
	margin: 15px auto 0 auto;

}


#class_description {
	font-family: 'Cinzel', serif;
	color: #696969;
	letter-spacing: 0.2em;
	text-align: center;
	margin-top: 10px;
}
